@font-face {
  font-family: 'museo';
  src: url('../fonts/museo700-regular-webfont.eot');
  src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo700-regular-webfont.woff') format('woff'), url('../fonts/museo700-regular-webfont.ttf') format('truetype'), url('../fonts/museo700-regular-webfont.svg#museo700') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'museo';
  src: url('../fonts/museo300-regular-webfont.eot');
  src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo300-regular-webfont.woff') format('woff'), url('../fonts/museo300-regular-webfont.ttf') format('truetype'), url('../fonts/museo300-regular-webfont.svg#museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
    font-family: 'museo100';
    src: url('../fonts/museo100-regular-webfont.eot');
    src: url('../fonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo100-regular-webfont.woff') format('woff'),
         url('../fonts/museo100-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo100-regular-webfont.svg#museo100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo900-regular-webfont.eot');
    src: url('../fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo900-regular-webfont.woff') format('woff'),
         url('../fonts/museo900-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo900-regular-webfont.svg#museo900') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
body {
  background: #150c09 url(../img/bg.png);
}
blockquote {
  border: 0;
  padding: 0;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn,
.nav > li > a {
  font-family: museo, Tahoma, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-inner {
  position: relative;
}
.carousel-control {
  width: 60px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  line-height: 60px;
  background: #fff !important;
  color: #150c09 !important;
  text-shadow: none;
  border-radius: 50%;
}
.carousel-control:focus,
.carousel-control:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.main-header,
.main-section,
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-header {
  text-align: center;
}
.main-section + .main-section:not(.main-section-bg) {
  padding-top: 0;
}
.main-section-bg {
  background-color: #150c09;
}
.main-section-title {
  margin-bottom: 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-section-title .fa {
  font-size: 14px;
  font-weight: normal;
}
.main-section-header {
  margin-bottom: 40px;
}
.main-section-header:before,
.main-section-header:after {
  content: " ";
  display: table;
}
.main-section-header:after {
  clear: both;
}
.main-section-header hr {
  margin: 0;
}
.main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #150c09;
  text-transform: uppercase;
}
.main-nav .nav > li > a {
  font-size: 14px;
}
.main-nav .nav > li + li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .main-nav .nav > li + li > a {
    border-left: 1px solid #473b27;
    border-right: 1px solid transparent;
  }
}
@media (min-width: 992px) {
  .main-nav .nav {
    margin: 0 10%;
    width: 80%;
  }
}
.main-banner {
  width: 100%;
  overflow: hidden;
}
.main-banner .carousel-inner {
  position: relative;
  left: 50%;
  width: 1600px;
  margin-left: -800px;
  white-space: nowrap;
  text-align: center;
  background-color: #000;
}
.main-banner .carousel-inner > .item {
  display: block;
  float: left;
  width: 33.33333%;
  opacity: .5;
  transition: opacity 0.5s ease-in;
}
.main-banner .carousel-inner > .item img {
  width: 101%;
  height: auto;
}
.main-banner .carousel-caption {
  display: none;
  left: 5%;
  right: 5%;
  bottom: 0;
  padding-bottom: 10px;
  color: #fff;
  text-shadow: none;
  text-align: left;
  font-size: 54px;
  font-family: museo, Tahoma, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .25;
}
.main-banner .carousel-inner > .active {
  opacity: 1;
}
.main-banner .carousel-inner > .active .carousel-caption {
  display: block;
}
.main-banner .carousel-control.left {
  left: 20px;
}
.main-banner .carousel-control.right {
  right: 20px;
}
.main-banner .carousel-inner > .item > img {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .main-banner .carousel-inner {
    width: 2200px;
    margin-left: -1100px;
  }
  .main-banner .carousel-control.left {
    left: 10%;
  }
  .main-banner .carousel-control.right {
    right: 10%;
  }
}
@media (min-width: 1400px) {
  .main-banner .carousel-control.left {
    left: 20%;
  }
  .main-banner .carousel-control.right {
    right: 20%;
  }
}
.sidebar {
  padding: 50px 40px;
  background-color: rgba(177, 142, 71, 0.05);
}
.sidebar-aside + .sidebar-aside {
  margin-top: 40px;
}
.sidebar-aside-title {
  margin: 0 0 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.sidebar-aside .nav > li > a {
  padding: 2px 0;
}
.sidebar-aside .nav > li > a:active,
.sidebar-aside .nav > li > a:hover {
  background-color: transparent;
}
@media (min-width: 1200px) {
  .sidebar {
    margin-left: 40px;
  }
}
.post-header {
  margin-bottom: 20px;
}
.post-title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.post-title + .post-meta {
  margin-top: 10px;
}
.post-img {
  margin-bottom: 20px;
}
.post-group {
  margin-bottom: 40px;
}
.post-group .post + .post {
  margin-top: 20px;
  border-top: 1px dotted #392018;
}
.post-group .post + .post .post-header {
  margin-top: 20px;
}
.post-group .post .pager {
  margin-top: 30px;
  margin-bottom: 0;
}
.post-group .post .pager .page {
  display: none;
}
@media (min-width: 1200px) {
  #quem-somos blockquote {
    padding-right: 40px;
  }
}
#posts .post-meta {
  display: none;
}
@media (max-width: 991px) {
  #posts .col + .col .post {
    margin-top: 30px;
  }
}
#corpo-juridico .media {
  padding-right: 40px;
}
#corpo-juridico .media .pull-left {
  margin-right: 30px;
}
#corpo-juridico h5 {
  text-transform: uppercase;
  font-weight: bold;
}
#corpo-juridico .row hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
#contato .media {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  #contato .col-1 {
    padding-right: 40px;
  }
  #contato .col-2 {
    padding-left: 39px;
    border-left: 1px solid #392018;
  }
}
