@import "bootstrap-variables.less";
@import "bootstrap/mixins.less";
@import "font-faces.less";

body {
  background: #150c09 url(../img/bg.png);
}

blockquote {
  border: 0;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn,
.nav > li > a {
  font-family: @headings-font-family;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel {
  &-inner {
    position: relative;
  }

  &-control {
    width: 60px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    line-height: 60px;
    background: #fff !important;
    color: @body-bg !important;
    text-shadow: none;
    border-radius: 50%;
  
    &:focus, &:hover {
      .reset-filter();
    }
  }

}

.main {
  &-header,
  &-section,
  &-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-header {
    text-align: center;
  }

  &-section + .main-section:not(.main-section-bg) {
    padding-top: 0;
  }

  &-section-bg {
    background-color: @body-bg;
  }

  &-section-title {
    margin-bottom: @line-height-computed;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

    .fa {
      font-size: 14px;
      font-weight: normal;
    }
  }

  &-section-header {
    margin-bottom: 40px;
    .clearfix();

    hr {
      margin: 0;
    }
  }

  &-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @body-bg;
    text-transform: uppercase;

    .nav > li > a {
      font-size: 14px;    
    }

    .nav > li + li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @media (min-width: @screen-sm-min) {
      .nav > li + li > a {
        border-left: 1px solid darken(@text-color, 40%);
        border-right: 1px solid transparent;
      }
    }

    @media (min-width: @screen-md-min) {
      .nav {
        margin: 0 10%;
        width: 80%;
      }
    }
  }

  &-banner {
    width: 100%;
    overflow: hidden;

    .carousel-inner {
      position: relative;
      left: 50%;
      width: 1600px;
      margin-left: -800px;
      white-space: nowrap;
      text-align: center;
      background-color: #000;
    }

    .carousel-inner > .item {
      display: block;
      float: left;
      width: 33.33333%;
      opacity: .5;
      transition: opacity .5s ease-in;

      img {
        width: 101%;
        height: auto;
      }
    }

    .carousel-caption {
      display: none;
      left: 5%;
      right: 5%;
      bottom: 0;
      padding-bottom: 10px;
      color: #fff;
      text-shadow: none;
      text-align: left;
      font-size: 54px;
      font-family: @headings-font-family;
      font-weight: bold;
      text-transform: uppercase;
      opacity: .25;
    }

    .carousel-inner > .active {
      opacity: 1;

      .carousel-caption {
        display: block;
      }
    }

    .carousel-control {
      &.left {
        left: 20px;
      }

      &.right {
        right: 20px;
      }
    }

    .carousel-inner > .item > img {
      margin: 0 auto;
    }

    @media (min-width: @screen-lg-min) {
      .carousel-inner {
        width: 2200px;
        margin-left: -1100px;
      }   

      .carousel-control {
        &.left {
          left: 10%;
        }

        &.right {
          right: 10%;
        }
      }   
    }

    @media (min-width: 1400px) {
      .carousel-control {
        &.left {
          left: 20%;
        }

        &.right {
          right: 20%;
        }
      }   
    }
  }
}

.sidebar {
  padding: 50px 40px;
  background-color: rgba(177, 142, 71, .05);

  &-aside {
    + .sidebar-aside {
      margin-top: 40px;
    }

    &-title {
      margin: 0 0 10px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }

    .nav > li > a {
      padding: 2px 0;

      &:active,
      &:hover {
        background-color: transparent;
      }
    }
  }

  @media (min-width: @screen-lg-min) { 
    margin-left: 40px;
  }  
}

.post {
  &-header {
    margin-bottom: 20px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }

  &-title + .post-meta {
    margin-top: 10px;
  }

  &-img {
    margin-bottom: 20px;
  }
}

.post-group { 
  margin-bottom: 40px;

  .post {
    + .post {
      margin-top: 20px;
      border-top: 1px dotted @hr-border;

      .post-header {
        margin-top: 20px;
      }
    }

    .pager {
      margin-top: 30px;
      margin-bottom: 0;

      .page {
        display: none;
      }
    }
  }
}

#quem-somos {
  @media (min-width: @screen-lg-min) { 
    blockquote {
      padding-right: 40px;
    }
  }  
}

#posts {
  .post-meta {
    display: none;
  }

  @media (max-width: @screen-sm-max) { 
    .col + .col .post {
      margin-top: 30px;
    }
  }
}

#corpo-juridico {
  .media {
    padding-right: 40px;
  }

  .media .pull-left {
    margin-right: 30px;
  }

  h5 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .row hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#contato {
  .media {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media(min-width: @screen-md-min) {
    .col-1 {
      padding-right: 40px;
    }

    .col-2 {
      padding-left: 39px;
      border-left: 1px solid @hr-border;
    }
  }
}