#header {
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #f5f5f5;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #444;
  background: rgba(0,0,0,.7);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.1);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.1);
}

#header h1 {
  max-width: 50%;
}

#header h1 small {
  margin-top: 10px;
  display: block;
  font-style: italic;
  color: #ddd;
}

#header .well {
  margin: 20px 0 0;
  padding: 5px;
  border: 0;
  background: #222;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);  
}

#header .btn-toolbar,
#header .form-search {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#header .btn-toolbar {
  margin-left: 10px;
}

#header .form-search .search-query {
  display: inline-block;
  width: auto;
  min-width: 190px;
  padding-right: 5px;
  padding-left: 5px;
  background: transparent;
  border: 0;
  color: #ccc;
  box-shadow: none;
}

#header .form-search .btn {
  padding-right: 5px;
  padding-left: 5px;
  opacity: .6;
}

.form-horizontal .row + .form-actions,
.form-horizontal .row-fluid + .form-actions {
  margin-top: 0;
}

.form-horizontal .control-group .controls {
  margin-right: 20px;
}

/* icons */

[class^="icon-"],
[class*=" icon-"] {
  opacity: .9;
}

.btn-primary [class^="icon-"],
.btn-primary [class*=" icon-"],
.btn-success [class^="icon-"],
.btn-success [class*=" icon-"],
.btn-danger [class^="icon-"],
.btn-danger [class*=" icon-"],
.btn-inverse [class^="icon-"],
.btn-inverse [class*=" icon-"],
.navbar .nav > li > a [class^="icon-"], 
.navbar .nav > li > a [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* inputs */

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.input-append input, 
.input-prepend input, 
.input-append select, 
.input-prepend select, 
.input-append .uneditable-input, 
.input-prepend .uneditable-input, 
.input-append .add-on, 
.input-prepend .add-on, 
.input-append .btn, 
.input-prepend .btn, 
.input-append .btn-group > .dropdown-toggle, 
.input-prepend .btn-group > .dropdown-toggle { 
  display: table-cell;
  width: 1%;  
}

.thumbnails.inline > li {
  float: none;
  margin-left: 0;
  margin-bottom: 5px;
  padding-left: 0;
}

.thumbnail.active {
  border-color: #08c;
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

#ajax-loading {
	display: none;
	position: fixed;
	top: 60px;
	right: 40px;
	width: 90px;
	height: 50px;
	background: #fff url(../img/icon-loading-large.gif) no-repeat center;
	opacity: 0.1;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

body.loading #ajax-loading {
	display: block;
}

#content > .alert {
	padding-right: 14px;
	text-align: center;
}

#menu .navbar-fixed-top {
	top: 40px;
	z-index: 1020;
}


/* Grids
------------------------------------------------------------*/

.grid-view {
  overflow-x: auto;
  overflow-y: hidden;
}

.grid-view .table-bordered {
  background: #fff;
  border-left: 1px solid #ddd;
}

.grid-view .table-bordered th,
.grid-view .table-bordered td {
  border-left: 0;
}

.grid-view .sort-link {
  position: relative;
  color: #666;
  text-decoration: none;
}

.grid-view .sort-link .caret {
  visibility: hidden;
  position: absolute;
  top: 8px;
  right: 0;
}

.grid-view .sort-link.desc .caret {
  border-top: transparent;
  border-bottom: 4px solid #000;
}

.grid-view .sort-link.asc .caret,
.grid-view .sort-link.desc .caret {
  visibility: visible;
}

.grid-view .button-column {
  width: 1%;
  white-space: nowrap;
}

.grid-view .empty {
  text-align: center; 
}

.grid-view .summary {
  text-align: right;
}

.grid-view .pagination {
  margin: 0;
}

.grid-view .pagination ul {
  background: #fff;
}


/* Forms
------------------------------------------------------------*/


#loginForm .panel {
	padding: 28px;
}

#loginForm .form-actions {
	margin: 9px 0 0;
	padding: 0;
	border: 0;
	background: transparent;	
}

#loginForm .form-actions .checkbox {
	margin-top: 5px;
}


/* Panels
------------------------------------------------------------*/


.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}


/* Forms
------------------------------------------------------------*/


/* login */

.ctrl-home.act-login {
  background: #f1f1f1;
}

.ctrl-home.act-login #header {
  text-align: center;
}

.ctrl-home.act-login #content {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 380px;
  margin: 0 0 0 -190px;    
}

.ctrl-home.act-login #content .container {
  width: auto;
}

.ctrl-home.act-login .page-header {
  margin-bottom: 10px;
  border: 0;
}

.ctrl-home.act-login .page-header h1 {
  font-size: 50px;
}

.ctrl-home.act-login .panel,
.ctrl-home.act-login #loginForm {
  margin-bottom: 0;
}


@media (max-width: 979px) {

  .navbar-fixed-top {
    margin-bottom: 0;
  }

}

@media (max-width: 767px) {

  #header {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    padding: 40px 20px 20px;
  }

  #header h1 {
    max-width: none;
  }

  #header .pull-left,
  #header .pull-right {
    float: none;
  }

  #header .btn-toolbar, 
  #header .form-search {
    display: block;
  }

  #header .btn-toolbar {
    position: absolute;
    top: 54px;
    right: 20px;
  }

  #header .form-search .search-query {
    width: 90%;
  }

  #header .form-search .btn {
    width: 10%;
  }

}